.reservationsContainers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.formContent{
    display: grid;
    max-width: 200px;
    gap: 20px;
}