.headerLayout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 8px solid #000000;
    background: #FFF;
}
.leftNavbar{
    display: flex;
    margin-left: 80px;
    margin-right: auto;
    width: 418px;
    justify-content: space-between;
    align-items: center;
}

.leftNavbar > .linkNavBTN{
    text-decoration: none;
    color: black;
}

.rightNavbar{
    display: flex;
    margin-right: 80px;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}