.headerLayout{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    border-bottom: 8px solid #000000;
    background: #FFF;
    height: 122px;
    margin:0px;
}
.leftNavbar{
    display: flex;
    width: 418px;
    align-items: center;
    height:100%;
    justify-content: space-between;
    justify-self: flex-start;
    padding-left: 80px
}

.leftNavbar > .linkNavBTN{
    text-decoration: none;
    color: black;
}

.rightNavbar{
    display: flex;
    align-items: center;
    width: 240px;
    height:100%;
    justify-self: flex-end;
    padding-right: 80px;
}

.headerLayout > img{
    height: auto;
    max-width: 221px;
    align-items: center;
    display: block;
    justify-self: center;
}